body {
    background-color: black;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.btns .btn {
    display: inline-block;
    background-color: lime;
    color: navy;
    text-align: center;
    scale: 1.2;
    margin-top: 32px;
    margin-bottom: 24px;
    border-color: navy;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-bottom: 24px;
    color: rgb(3, 216, 3);
    text-decoration: underline;
}

span {
    font-weight: 800;
    font-size: 16px;
    text-decoration: none;
}

.results {
    color: rgb(3, 216, 3);
    font-weight: 600;
    font-size: medium;
    text-align: center;
}